        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        nav {
            background-color: #f8f8f8;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #ccc;
        }
        .nav-buttons {
            display: flex;
            gap: 15px;
            
        }

        /* Contenido principal */
        .main-content {
            padding: 20px;
        }

        .bitacora-list {
            background-color: #e0e0e0;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .bitacora-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #d3d3d3;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        .bitacora-item button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Botón de agregar bitácora */
        .add-bitacora {
            padding: 10px 20px;
            background-color:  #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            text-align: center;
        }

        .add-bitacora:hover {
            background-color: #45a049;
        }

        /* Formulario para agregar bitácora */
        .bitacora-form {
            background-color: #e0e0e0;
            padding: 20px;
            border-radius: 8px;
            display: none; /* Oculto por defecto */
            margin-top: 20px;
        }

        .bitacora-form input[type="text"], .bitacora-form input[type="file"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .bitacora-form button {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .bitacora-form button:hover {
            background-color: #45a049;
        }

