        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav {
            background-color: #f8f8f8;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid #ccc;
        }
        .nav-buttons {
            display: flex;
            gap: 15px;
        }
        .container {
            padding: 20px;
        }
        .visits-section {
            background-color: #f0f0f0;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        .visit-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        .visit-row input {
            flex: 1;
            margin-right: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .visit-row button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .visit-row button:hover {
            background-color: #45a049;
        }
        .new-visit-button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            text-align: center;
            width: 100%;
        }
        .new-visit-button:hover {
            background-color: #45a049;
        }

        .visita-form {
            background-color: #e0e0e0;
            padding: 20px;
            border-radius: 8px;
            display: none; /* Oculto por defecto */
            margin-top: 20px;
        }

        .visita-form input[type="text"], .visita-form input[type="date"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .visita-form button {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .visita-form button:hover {
            background-color: #45a049;
        }
    