.info-section,
.pending-info-section,
.visits-section1,
.bitacora-list2 {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.info-section {
  display: flex;
  align-items: center;
}

.info-section img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
