body {
    font-family: 'Platypi', Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #f8f8f8;
    padding: 10px 20px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}

.navbar-items {
    padding-inline: 2.5rem;
    display: flex;
    /* justify-content: flex-end; */
    gap: 15px;
}

.navbar-user-img,
.navbar-home-img {
    width: 45px;
    height: auto;
    /* object-fit: cover; */
}


.container {
    display: flex;
    align-items: flex-start;
   
}

.sidebar {
    width: 250px;
    background-color: #e0e0e0;
    padding: 20px;
    height: 300vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

.sidebar button:hover {
    background-color: #145a32;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1px;
}

.report-list__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.report-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.report-list__button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.report-list__button:hover {
    background-color: #45a049;
}

.add-report {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.add-report:hover {
    background-color: #0056b3;
}

.report-form {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    display: none;
    flex-direction: column;
    gap: 15px;
    display: block !important;
}

.report-form__input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.report-form__button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.report-form__button:hover {
    background-color: #45a049;
}