.logos-container {
    display: flex;
    justify-content: center;
    padding: 8px 20px;
}
/* #logo1 {
    width: 160px;
    height: auto;
} */
#logo2 {
    width: 120px;
    height: auto;
}
.title-block {
    height: 70px;
    width: 100%;
    background: #04324d;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center; 
    align-content: center;
}
#title {
    font-size: 1.2rem;
    color: #fff;
}