.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #e0e0e0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar button,
.visit-row1 button,
.bitacora-item2 button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.sidebar button:hover,
.visit-row1 button:hover,
.bitacora-item2 button:hover {
  background-color: #45a049;
}
