.login-section {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.login {
  margin: auto;
  margin-top: 100px;
  background: #cbcbcb;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 18rem;
  padding: 2rem;
  width: min(90%, 400px);
  height: 600px;
  justify-content: center;
}

.login-form p {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  height: 100%;
}

.login-label {
  color: #39a900;
  font-size: 1.2rem;
  justify-self: flex-start;
}

.login-input {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  outline: none;
}

.login-input::placeholder {
  font-size: 0.9rem;
}

.recovery-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 25px;
}

.recovery-block a {
  margin-left: 10px;
}

.login-button {
  width: auto;
  padding: 12px 16px;
  background: #41c001;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-button:hover {
  background-color: #2e8602;
}

.login-button {
  text-decoration: none;
  color: black;
  font-family: "Platypi", Arial, Helvetica, sans-serif;
}
